name: Attach

on:
  workflow_dispatch:
    inputs:
      release-tag:
        description:  'The release tag the release artifacts should be attached to example v28-rc1-build1'
        type: string
      which-run-id:
        type: choice
        required: true
        description: 'Build run id that produced the artifacts'
        options:
          - 'latest'
          - 'given'
        default: 'latest'
      given-run-id:
        description: 'Build run id when given (integer value)'
        type: string
        required: false

jobs:
  attach_artifacts: 
    name: Attach artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # checkout to get RELEASES.md file
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download all artifacts from run
        id: download_run
        run: |
          WHICH_RUN_ID=${{ inputs.which-run-id }}
          if [ ${WHICH_RUN_ID} == 'latest' ]; then
            RUN_ID=$(gh run list --json databaseId --workflow=build.yaml --branch=main --limit 1 | jq -r '.[0].databaseId')
          else
            RUN_ID=${{inputs.given-run-id}}
          fi
          gh run download -D artifacts ${RUN_ID}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Display structure of downloaded files
        run: find ./artifacts

      - name: Attach to release
        id: attach_to_release
        run: gh release upload --clobber ${{ inputs.release-tag }} -R $GITHUB_REPOSITORY $(find artifacts -type f)
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
