name: Attach

on:
  workflow_dispatch:
    inputs:
      release-tag:
        description:  'The release tag the release artifacts should be attached to example v28-rc1-build1'
        type: string
      which-run-id:
        type: choice
        required: true
        description: 'Build run id that produced the artifacts'
        options:
          - 'latest'
          - 'given'
        default: 'latest'
      given-run-id:
        description: 'Build run id when given (integer value)'
        type: string
        required: false

jobs:
  attach_artifacts: 
    name: Attach artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # checkout to get RELEASES.md file
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download all artifacts from run
        id: download_run
        run: |
          WHICH_RUN_ID=${{ inputs.which-run-id }}
          if [ ${WHICH_RUN_ID} == 'latest' ]; then
            RUN_ID=$(gh run list --json databaseId -R $GITHUB_REPOSITORY --workflow=build.yaml --branch=main --limit 1 | jq -r '.[0].databaseId')
          else
            RUN_ID=${{inputs.given-run-id}}
          fi
          gh run download -D artifacts ${RUN_ID}
          nbversion=$(cat build.properties  | grep -v \# | grep netbeans.version | cut -d= -f2)
          jdkversion=$(cat build.properties | grep -v \# | grep jdk.version | cut -d= -f2)
          cat - <<EOF > artifacts/webdata.yaml
          downloadbase: https://github.com/${{ github.repository }}/releases/download/${{ inputs.release-tag }}
          netbeans-version: ${nbversion}
          jdk-version: ${jdkversion}

          EOF
          cat $(find artifacts -name "*.yaml"  -type f ! -name "webdata.yaml") >> artifacts/webdata.yaml
          mv artifacts/webdata.yaml artifacts/nb${nbversion}.yaml
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Show Artifacts
        id: show_artifacts
        run: find artifacts -type f
      - name: Attach to release
        id: attach_to_release
        # run: gh release upload --clobber ${{ inputs.release-tag }} -R $GITHUB_REPOSITORY $(find artifacts/ -type f ! -name "*.sha*")
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.release-tag }}
          files: |
            artifacts/*/*.deb
            artifacts/*/*.rpm
            artifacts/*/*.pkg
            artifacts/*/*.exe
            artifacts/nb*.yaml
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
