name: Build

on:
  workflow_dispatch:
    inputs:
      build-deb-x64:
        description: 'Build Linux .deb for x86_64'
        type: boolean
      build-deb-arm:
        description: 'Build Linux .deb for aarch64'
        type: boolean
      build-rpm-x64:
        description: 'Build Linux .rpm for x86_64'
        type: boolean
      build-windows-x64:
        description: 'Build Windows .exe for x86_64'
        type: boolean
      build-macos-arm:
        description: 'Build macOS .pkg for aarch64'
        type: boolean
      build-macos-x64:
        description: 'Build macOS .pkg for x86_64'
        type: boolean
      netbeans-release:
        description: 'release name as in 27 or 28-rc3'
        type: string
      github-release: 
        description: |
          github release tag like v29-rc2-build1.
          NOTE: the release must be based on an existing tag.
        type: string

jobs:
  
  validate:
    name: Validate and cache
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Validate and cache
        run: java Exec.java validate-cache
      - name: Upload Validated Properties
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ inputs.github-release }} --clobber build.properties

  build-deb-x64:
    name: Build Linux .deb for x86_64
    if: ${{ inputs.build-deb-x64 }}
    needs: validate
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Build
        env:
          DPKG_DEB_COMPRESSOR_TYPE: xz
        run: java Exec.java build linux x64 deb
      - name: Upload
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ./dist
        run: |
          gh release upload ${{ inputs.github-release }} --clobber *.deb

  build-deb-arm:
    name: Build Linux .deb for arm64
    if: ${{ inputs.build-deb-arm }}
    needs: validate
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Build
        env:
          DPKG_DEB_COMPRESSOR_TYPE: xz
        run: java Exec.java build linux arm deb
      - name: Upload
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ./dist
        run: |
          gh release upload ${{ inputs.github-release }} --clobber *.deb

  build-rpm-x64:
    name: Build Linux .rpm for x86_64
    if: ${{ inputs.build-rpm-x64 }}
    needs: validate
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Install RPM tools
        run: |
          sudo apt update
          sudo apt install rpm
      - name: Build
        run: java Exec.java build linux x64 rpm
      - name: Upload
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ./dist
        run: |
          gh release upload ${{ inputs.github-release }} --clobber *.rpm

  build-windows-x64:
    name: Build Windows .exe for x86_64
    if: ${{ inputs.build-windows-x64 }}
    needs: validate
    runs-on: windows-2022
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Build
        env:
          INNOSETUP_PATH: 'C:\\Program Files (x86)\\Inno Setup 6\\iscc.exe'
        run: java Exec.java build windows x64 innosetup
      - name: Upload unsigned
        id: upload-unsigned-artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-exe-x64-unsigned
          path: |
            dist/*.exe
      - name: Sign with signpath
        id: signing
        uses: signpath/github-action-submit-signing-request@v1
        with:
          api-token: '${{ secrets.SIGNPATH_SIGNER_TOKEN }}'
          organization-id: '${{ secrets.SIGNPATH_ORGANIZATION_ID }}'
          project-slug: 'FoAN_installer'
          signing-policy-slug: 'globalsign'
          github-artifact-id: '${{ steps.upload-unsigned-artifact.outputs.artifact-id }}'
          # we may have to wait a bit because the approver may be slow
          wait-for-completion-timeout-in-seconds: 86400
          wait-for-completion: true
          output-artifact-directory: signed
      - name: Rehash
        id: rehash
        run: java Exec.java hash windows x64 innosetup signed
      - name: Upload
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ./signed
        run: |
          gh release upload ${{ inputs.github-release }} --clobber *.exe

  build-macos-arm:
    name: Build macOS .pkg for arm64
    if: ${{ inputs.build-macos-arm }}
    needs: validate
    runs-on: macos-14
    permissions:
      contents: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Install certificates
        if: ${{ vars.APP_CERT_ID }}
        env:
          APP_CERT_BASE64: ${{ secrets.APP_CERT_BASE64 }}
          INST_CERT_BASE64: ${{ secrets.INST_CERT_BASE64 }}
          APP_CERT_PASSWORD: ${{ secrets.APP_CERT_PASSWORD }}
          INST_CERT_PASSWORD: ${{ secrets.INST_CERT_PASSWORD }}
        run: |
          APP_CERT_PATH="$RUNNER_TEMP/app_cert.p12"
          INST_CERT_PATH="$RUNNER_TEMP/inst_cert.p12"
          KEYCHAIN_PATH="$RUNNER_TEMP/signing.keychain-db"
          KEYCHAIN_PASSWORD="$(openssl rand -base64 12)"
          ###
          echo -n "$APP_CERT_BASE64" | base64 --decode -o "$APP_CERT_PATH"
          echo -n "$INST_CERT_BASE64" | base64 --decode -o "$INST_CERT_PATH"
          ###
          security create-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
          security set-keychain-settings -lut 21600 "$KEYCHAIN_PATH"
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
          security import "$APP_CERT_PATH" -P "$APP_CERT_PASSWORD" -t cert -f pkcs12 -k "$KEYCHAIN_PATH" -T /usr/bin/codesign
          security import "$INST_CERT_PATH" -P "$INST_CERT_PASSWORD" -t cert -f pkcs12 -k "$KEYCHAIN_PATH" -T /usr/bin/pkgbuild
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
          security list-keychains -d user -s "$KEYCHAIN_PATH"
      - name: Build
        env:
          APP_CERT_ID: ${{ vars.APP_CERT_ID }}
          INST_CERT_ID: ${{ vars.INST_CERT_ID }}
        run: java Exec.java build macos arm pkg
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-pkg-arm64-unnotarized
          path: |
            dist/*.pkg
      - name: Notarize
          # upload and start notarization but do not wait for result
        env:
          PROD_MACOS_NOTARIZATION_APPLE_ID: ${{ vars.APPLE_ID }}
          PROD_MACOS_NOTARIZATION_TEAM_ID: ${{ vars.APPLE_TEAM_ID }}
          PROD_MACOS_NOTARIZATION_PWD: ${{ secrets.APP_SPECIFIC_PASSWORD }}
        run: |
          echo "Create keychain profile"
          xcrun notarytool store-credentials "signer" --apple-id "$PROD_MACOS_NOTARIZATION_APPLE_ID" \
             --team-id "$PROD_MACOS_NOTARIZATION_TEAM_ID" --password "$PROD_MACOS_NOTARIZATION_PWD"
          mypackage=$(find dist -name "*.pkg" -maxdepth 1 -type f)
          echo "Notarize app ${mypackage}"
          xcrun notarytool submit ${mypackage} --keychain-profile "signer" --no-wait

  build-macos-x64:
    name: Build macOS .pkg for x86_64
    if: ${{ inputs.build-macos-x64 }}
    needs: validate
    runs-on: macos-14
    permissions:
      contents: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Setup caches
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ hashFiles('Exec.java', 'build.properties') }}
          enableCrossOsArchive: true
      - name: Install certificates
        if: ${{ vars.APP_CERT_ID }}
        env:
          APP_CERT_BASE64: ${{ secrets.APP_CERT_BASE64 }}
          INST_CERT_BASE64: ${{ secrets.INST_CERT_BASE64 }}
          APP_CERT_PASSWORD: ${{ secrets.APP_CERT_PASSWORD }}
          INST_CERT_PASSWORD: ${{ secrets.INST_CERT_PASSWORD }}
        run: |
          APP_CERT_PATH="$RUNNER_TEMP/app_cert.p12"
          INST_CERT_PATH="$RUNNER_TEMP/inst_cert.p12"
          KEYCHAIN_PATH="$RUNNER_TEMP/signing.keychain-db"
          KEYCHAIN_PASSWORD="$(openssl rand -base64 12)"
          ###
          echo -n "$APP_CERT_BASE64" | base64 --decode -o "$APP_CERT_PATH"
          echo -n "$INST_CERT_BASE64" | base64 --decode -o "$INST_CERT_PATH"
          ###
          security create-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
          security set-keychain-settings -lut 21600 "$KEYCHAIN_PATH"
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
          security import "$APP_CERT_PATH" -P "$APP_CERT_PASSWORD" -t cert -f pkcs12 -k "$KEYCHAIN_PATH" -T /usr/bin/codesign
          security import "$INST_CERT_PATH" -P "$INST_CERT_PASSWORD" -t cert -f pkcs12 -k "$KEYCHAIN_PATH" -T /usr/bin/pkgbuild
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
          security list-keychains -d user -s "$KEYCHAIN_PATH"
      - name: Build
        env:
          APP_CERT_ID: ${{ vars.APP_CERT_ID }}
          INST_CERT_ID: ${{ vars.INST_CERT_ID }}
        run: java Exec.java build macos x64 pkg
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-pkg-x64-unnotarized
          path: |
            dist/*.pkg
      - name: Notarize
        env:
          PROD_MACOS_NOTARIZATION_APPLE_ID: ${{ vars.APPLE_ID }}
          PROD_MACOS_NOTARIZATION_TEAM_ID: ${{ vars.APPLE_TEAM_ID }}
          PROD_MACOS_NOTARIZATION_PWD: ${{ secrets.APP_SPECIFIC_PASSWORD }}
        run: |
          echo "Create keychain profile"
          xcrun notarytool store-credentials "signer" --apple-id "$PROD_MACOS_NOTARIZATION_APPLE_ID" \
             --team-id "$PROD_MACOS_NOTARIZATION_TEAM_ID" --password "$PROD_MACOS_NOTARIZATION_PWD"
          mypackage=$(find dist/ -name "*.pkg" -maxdepth 1 -type f)
          echo "Notarize app ${mypackage}"
          xcrun notarytool submit ${mypackage} --keychain-profile "signer" --no-wait



