name: Taggy

on:
  workflow_dispatch:
    inputs:
      github-release-tag: 
        description: 'github tag like v29-rc2'
        type: string

jobs:
  ensure-release:
    name: Ensure that the release exists
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: CheckOrCreate
        run: | 
          if [[ $(gh release list | grep -q ${{ inputs.github-release-tag }} ) ]]; then 
            echo "proceed with ${{ inputs.github-release-tag }}"
          else
            # create a release as draft. 
            # can be changed in github web ui
            gh release create --draft ${{ inputs.github-release-tag }} --notes "created to ensure existence"
            echo "newly created ${{ inputs.github-release-tag }}"
          fi
        env:
          GH_TOKEN: ${{ github.token }}
